                                        * {
                                            margin: 0;
                                            padding: 0;
                                        }
                                        
                                        body {
                                            display: flex;
                                            margin: 0 auto;
                                            box-sizing: border-box;
                                            font-family: 'Lato', sans-serif;
                                        }
                                        /* Navigation==============
============= */
                                        /* logotype==========
========= */
                                        
                                        .logo {
                                            width: 33px;
                                            height: 23px;
                                            padding: 25px 19px 23px 18px;
                                            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                                        }
                                        
                                        .logo-link {
                                            text-decoration: none;
                                        }
                                        
                                        .logo-text {
                                            font-family: 'Deftone Stylus';
                                            font-size: calc(14px + 1em);
                                            background: linear-gradient(to bottom, #FC7858, #FD4F74);
                                            -webkit-background-clip: text;
                                            -webkit-text-fill-color: transparent;
                                            font-style: normal;
                                            font-weight: 400;
                                            text-transform: uppercase;
                                        }
                                        
                                        .logo-text:hover {
                                            opacity: 0.5;
                                        }
                                        /* navbar=========
======== */
                                        
                                        .navigation-menu {
                                            width: 70px;
                                            height: calc(100vh - 70px);
                                            display: flex;
                                            flex-direction: column;
                                            background: -webkit-linear-gradient(to bottom, #F77358, #FD5272);
                                            background: linear-gradient(to bottom, #F77358, #FD5272);
                                            position: relative;
                                        }
                                        
                                        .navigation-menu::before,
                                        .navigation-menu::after {
                                            content: '';
                                            position: absolute;
                                            left: 70px;
                                            top: 38px;
                                            border: 8px solid transparent;
                                            border-left: 5px solid #F77358;
                                        }
                                        
                                        .nav-link {
                                            display: flex;
                                            flex-direction: column;
                                            text-decoration: none;
                                        }
                                        
                                        .nav-text {
                                            font-size: 10px;
                                            text-align: center;
                                            color: #FFFFFF;
                                        }
                                        
                                        .nav-img {
                                            width: 20px;
                                            height: 18px;
                                            margin: 0 auto;
                                            padding-top: 30px;
                                            padding-bottom: 10px;
                                        }
                                        
                                        .power {
                                            margin-top: auto;
                                            margin-bottom: 19px;
                                            background: none;
                                            border: none;
                                            outline: none;
                                            img {
                                                cursor: pointer;
                                            }
                                        }
                                        
                                        .nav-link:hover {
                                            opacity: 0.5;
                                        }
                                        
                                        .power-img:hover {
                                            opacity: 0.5;
                                        }
                                        /* HEADER================
 =============*/
                                        /* header-top==================
==================*/
                                        
                                        header {
                                            display: flex;
                                            flex-direction: column;
                                            .top {
                                                width: 100%;
                                                display: flex;
                                            }
                                            .top-btn {
                                                width: 70px;
                                                height: 71px;
                                                border: none;
                                                border-left: 1px solid #f1f1f1;
                                                border-right: 1px solid #f1f1f1;
                                                outline: none;
                                                cursor: pointer;
                                            }
                                            button:nth-child(1) {
                                                background: url(../img/icon/rounded.png) no-repeat center center;
                                            }
                                            button:nth-child(2) {
                                                background: url(../img/icon/folder.png) no-repeat center center;
                                            }
                                            button:nth-child(3) {
                                                background: url(../img/icon/settings_2.png) no-repeat center center;
                                            }
                                            button:nth-child(5) {
                                                background: url(../img/icon/upload.png) no-repeat center center;
                                            }
                                            button:nth-child(6) {
                                                background: url(../img/icon/envelope.png) no-repeat center center;
                                            }
                                            button:nth-child(7) {
                                                background: url(../img/icon/planet.png) no-repeat center center;
                                            }
                                            button:nth-child(10) {
                                                background: url(../img/icon/points.png) no-repeat 80% center;
                                            }
                                            button:hover {
                                                opacity: 0.5;
                                            }
                                            .search {
                                                display: flex;
                                                align-items: center;
                                                padding-left: 114px;
                                                padding-right: 114px;
                                            }
                                            input {
                                                width: 300px;
                                                padding: 12px 0 11px 13px;
                                                border-radius: 20px;
                                                border: solid #F1F1F1;
                                                background: #f8f8f8;
                                                background: url(../img/icon/zoom.png) no-repeat 95% center;
                                                outline: none;
                                            }
                                            .face-name {
                                                display: flex;
                                                flex-direction: column;
                                                padding-left: 18px;
                                                padding-top: 22px;
                                            }
                                            .head-name {
                                                font-size: 13px;
                                                font-weight: bold;
                                                background: linear-gradient(to left, #FC7858, #FD4F74);
                                                -webkit-background-clip: text;
                                                -webkit-text-fill-color: transparent;
                                            }
                                            .head-description {
                                                font-size: 10px;
                                                color: #BFBFBF;
                                            }
                                        }
                                        /*header-bottom============
=============*/
                                        
                                        .bottom {
                                            width: 100%;
                                            display: flex;
                                            justify-content: space-around;
                                            padding-top: 21px;
                                            padding-bottom: 23px;
                                        }
                                        
                                        .statistics {
                                            h4 {
                                                font-size: 12px;
                                                color: #777777;
                                            }
                                            p {
                                                padding-top: 9px;
                                                padding-bottom: 8px;
                                                font-size: 20px;
                                                font-weight: bold;
                                                background: linear-gradient(to left, #FC7758, #FD5074);
                                                -webkit-background-clip: text;
                                                -webkit-text-fill-color: transparent;
                                            }
                                            span {
                                                position: relative;
                                                padding-left: 9px;
                                                font-size: 12px;
                                                color: #BFBFBF;
                                            }
                                            .triangle-up::before {
                                                content: '';
                                                position: absolute;
                                                top: 6px;
                                                left: 2px;
                                                width: 0;
                                                height: 0;
                                                border-left: 3px solid transparent;
                                                border-right: 3px solid transparent;
                                                border-bottom: 6px solid #A889E9;
                                                ;
                                            }
                                            .triangle-down::before {
                                                content: '';
                                                position: absolute;
                                                top: 5px;
                                                left: 2px;
                                                width: 0;
                                                height: 0;
                                                border-left: 3px solid transparent;
                                                border-right: 3px solid transparent;
                                                border-top: 6px solid #FD5670;
                                                ;
                                            }
                                        }
                                        
                                        .statistics-btn {
                                            border: none;
                                            outline: none;
                                            cursor: pointer;
                                            font-size: 12px;
                                            font-weight: bold;
                                            background: linear-gradient(to left, #FC7758, #FD5074);
                                            -webkit-background-clip: text;
                                            -webkit-text-fill-color: transparent;
                                        }
                                        /* MAIN=================
==========*/
                                        
                                        main {
                                            background: #ECECEC;
                                        }
                                        
                                        .main-block {
                                            margin: 20px;
                                            box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
                                        }
                                        
                                        .container-main {
                                            display: flex;
                                            flex-direction: column;
                                            background-color: #E8E8E8;
                                            padding: 12px;
                                        }
                                        /* main-top==============
===========*/
                                        
                                        .main-top {
                                            display: flex;
                                        }
                                        
                                        .monthly-stat {
                                            padding: 30px;
                                            background: #FFFFFF;
                                        }
                                        
                                        .monthly-menu {
                                            display: flex;
                                            .monthly-text {
                                                font-size: 14px;
                                                font-weight: bold;
                                                color: #767676;
                                                margin-right: 280px;
                                            }
                                            .mdy-btn {
                                                padding: 8px 16px 8px 16px;
                                                font-size: 12px;
                                                color: #BFBFBF;
                                                border: none;
                                                outline: none;
                                                font-weight: bold;
                                                border-radius: 20px;
                                                cursor: pointer;
                                            }
                                            .monthly-dots {
                                                padding-left: 22px;
                                            }
                                        }
                                        
                                        .mdy-btn:hover {
                                            background: #FC755A;
                                            background: -webkit-linear-gradient(to right, #FD4F75, #FC755A);
                                            background: linear-gradient(to right, #FD4F75, #FC755A);
                                            background-color: transparent;
                                            color: #FFFFFF;
                                        }
                                        
                                        .monthly-dots:hover {
                                            opacity: 0.8;
                                        }
                                        
                                        .graph-top {
                                            margin-top: 30px;
                                        }
                                        
                                        .graph-line {
                                            display: flex;
                                        }
                                        
                                        .graph-left {
                                            list-style-type: none;
                                            padding-bottom: 21px;
                                            li {
                                                font-size: 12px;
                                                color: #BFBFBF;
                                                font-weight: bold;
                                                padding-bottom: 29px;
                                            }
                                            li:nth-last-child(1) {
                                                padding-bottom: 0;
                                            }
                                        }
                                        
                                        .graph-img {
                                            display: flex;
                                            align-self: flex-end;
                                            padding-left: 31px;
                                            padding-bottom: 28px;
                                        }
                                        
                                        .graph-bottom {
                                            display: flex;
                                            align-self: flex-end;
                                            padding-left: 47px;
                                            li {
                                                padding-left: 28px;
                                                list-style-type: none;
                                                font-size: 12px;
                                                color: #BFBFBF;
                                                font-weight: bold;
                                            }
                                        }
                                        /* top-hour===========
================*/
                                        
                                        .top-hour {
                                            background: #FFFFFF;
                                            margin-left: 19px;
                                            padding: 30px 70px 0 70px;
                                            box-shadow: 0 0 10px 5px #dddddd;
                                            h4 {
                                                font-size: 14px;
                                                color: #777777;
                                                padding-bottom: 30px;
                                            }
                                            img {
                                                width: 124px;
                                                height: 124px;
                                                margin-bottom: 32px;
                                            }
                                            .hour-info {
                                                display: flex;
                                                justify-content: center;
                                            }
                                            span {
                                                position: relative;
                                                padding-left: 9px;
                                                font-size: 12px;
                                                color: #BFBFBF;
                                            }
                                            .triangle-up::before {
                                                content: '';
                                                position: absolute;
                                                top: 6px;
                                                left: 2px;
                                                width: 0;
                                                height: 0;
                                                border-left: 3px solid transparent;
                                                border-right: 3px solid transparent;
                                                border-bottom: 6px solid #A889E9;
                                                ;
                                            }
                                            .triangle-down::before {
                                                content: '';
                                                position: absolute;
                                                top: 5px;
                                                left: 2px;
                                                width: 0;
                                                height: 0;
                                                border-left: 3px solid transparent;
                                                border-right: 3px solid transparent;
                                                border-top: 6px solid #FD5670;
                                                ;
                                            }
                                        }
                                        /*main__bottom=============
=================*/
                                        
                                        .main-bottom {
                                            display: flex;
                                        }
                                        
                                        .bottom-block {
                                            display: flex;
                                        }
                                        /*block-comments================
=======*/
                                        
                                        .customers-feed {
                                            padding: 30px;
                                            background: #FFFFFF;
                                            box-shadow: 0 0 10px 5px #dddddd;
                                            h3 {
                                                font-size: 14px;
                                                color: #777777;
                                                font-weight: bold;
                                            }
                                            .feed {
                                                display: flex;
                                                margin-top: 40px;
                                                &:last-child {
                                                    margin-top: 20px;
                                                }
                                                .profile {
                                                    .img-sophie {
                                                        width: 45px;
                                                        height: 45px;
                                                        background: url(../img/sophie.png) center no-repeat;
                                                    }
                                                    .img-peter {
                                                        width: 45px;
                                                        height: 45px;
                                                        background: url(../img/peter.png) center no-repeat;
                                                    }
                                                    p {
                                                        text-align: center;
                                                        color: #979796;
                                                        font-size: 8px;
                                                        padding-top: 13px;
                                                    }
                                                }
                                                .comments {
                                                    margin-left: 20px;
                                                    width: 355px;
                                                    p {
                                                        background-color: #FCFCFC;
                                                        border: 1px solid #F1F1F1;
                                                        padding: 20px 23px;
                                                        color: #777777;
                                                        font-size: 12px;
                                                    }
                                                    .mini-comments {
                                                        border-left: 2px solid #F1F1F1;
                                                        padding-left: 13px;
                                                        margin-top: 20px;
                                                        margin-left: 8px;
                                                        p:first-child {
                                                            margin-bottom: 20px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        /*==========TASK========*/
                                        
                                        .task {
                                            background: #FFFFFF;
                                            width: 500px;
                                            h3 {
                                                font-size: 14px;
                                                color: #777777;
                                                margin: 30px 0 20px 30px;
                                            }
                                            .task__list {
                                                display: flex;
                                                justify-content: center;
                                                margin-bottom: 23px;
                                                ul {
                                                    list-style-type: none;
                                                    width: 440px;
                                                    li {
                                                        display: flex;
                                                        border-bottom: 1px solid #EDEDED;
                                                        padding: 15px 0;
                                                        &:first-child {
                                                            border-top: 1px solid #EDEDED;
                                                        }
                                                        &:nth-child(even) {
                                                            background-color: #FCFCFC;
                                                        }
                                                        #checkbox1,
                                                        #checkbox2,
                                                        #checkbox3,
                                                        #checkbox4 {
                                                            display: none;
                                                        }
                                                        #checkbox1+label,
                                                        #checkbox2+label,
                                                        #checkbox3+label,
                                                        #checkbox4+label {
                                                            cursor: pointer;
                                                            border-radius: 50%;
                                                            display: block;
                                                            width: 17px;
                                                            height: 17px;
                                                            background: none;
                                                            border: 1px solid #E5E5E5;
                                                            text-align: center;
                                                            position: relative;
                                                        }
                                                        #checkbox1+label:before,
                                                        #checkbox2+label:before,
                                                        #checkbox3+label:before,
                                                        #checkbox4+label:before {
                                                            content: url('../img/icon/checked.png');
                                                            position: absolute;
                                                            left: 5px;
                                                            bottom: 1px;
                                                        }
                                                        #checkbox1:checked+label,
                                                        #checkbox2:checked+label,
                                                        #checkbox3:checked+label,
                                                        #checkbox4:checked+label {
                                                            background-color: #FC6664;
                                                        }
                                                        p {
                                                            padding-left: 11px;
                                                            padding-right: 20px;
                                                            color: #FD566F;
                                                            font-size: 12px;
                                                            font-weight: bolder;
                                                        }
                                                        span {
                                                            font-size: 12px;
                                                            color: #BFBFBF;
                                                        }
                                                        .time {
                                                            color: #9C9C9C;
                                                            margin-left: 70px;
                                                            &::before {
                                                                content: url('../img/icon/task-clock.png');
                                                                margin-right: 9px;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }